<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
<form method="POST" action="/blog">
    <label for="username">Title</label>
    <br>
    <input type="text" name="title">
    <br>
    <label for="password">Descripton</label>
    <br>
    <textarea name="description" id="" cols="30" rows="10">
    </textarea>
    <br>
    <button type="submit">Create</button>
</form>
<% for (const newData of Tweets ){ %>
    <p/> Username : <%= User %>
    <p/> title : <%= newData.title %> 
    <p/> description  : <%= newData.description %> 
    <% }%> 
    
    
    
</body>

</html>
