<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>DASHBOARD</p>
    <p/> Username : <%= username %> 
    <p><a href="/logout">Logout</a>
    </p>
   
    <p><a href="/blog">Create Blog</a>

    
</body>
</html>