<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
<form method="POST" action="/login">
    <label for="username">Username</label>
    <br>
    <input type="text" name="username" placeholder="Insert your username">
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="Insert your password">
    <br>
    <button type="submit">Login</button>

    
   </form>
   
</body>
</html>
